div {
    text-align: center;
    margin: 0 auto;
    font-size: 160%;
    font-weight: bold;
}

.top{
    background-color: red;
    padding: 50px;
    max-width: 350px;
}

.middle{
    background-color: blue;
    padding: 75px;
    max-width: 380px;
}

.bottom{
    background-color: green;
    padding: 100px;
    max-width: 450px;
}