header{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: large;
}

body{
    font-family: 'Helvetica', sans-serif;
    margin-left: 0;
    background-color: #6C5CAD;
    font-weight: 600;
}

.Philosophilia{
    margin-top: 35px;
    margin-left: -40px;
    font-size: larger;
    font-weight: 900;
    text-decoration: underline;
}

.pic{
    width: 500px;
}

.nav-bar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.nav-background{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: #939F5C;
    width: 100%;
    height: 100px;
    box-shadow: 5px 5px 10px grey;
}

.logo{
    grid-column: 1/2;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.home{
    grid-column: 4/5;
    background-color:#9AADAB;
    color: black;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    border: 10px black;
    border-radius: 20px;
    box-shadow: 4px 4px 5px grey;
}

.philosophers{
    grid-column: 6/7;
    background-color:#9AADAB;
    color: black;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    border: 10px black;
    border-radius: 20px;
    box-shadow: 4px 4px 5px grey;
}

.philosophy{
    grid-column: 8/9;
    white-space: nowrap;
    background-color:#9AADAB;
    color: black;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    border: 10px black;
    border-radius: 20px;
    box-shadow: 4px 4px 5px grey;
}

.home:hover{
    background-color: #AD535E;
    color: white;
    box-shadow: 4px 4px 5px black;
}

.philosophers:hover{
    background-color: #AD535E;
    color: white;
    box-shadow: 4px 4px 5px black;
}

.philosophy:hover{
    background-color: #AD535E;
    color: white;
    box-shadow: 4px 4px 5px black;
}

.spacing{
    margin: 0 auto;
    height: 130px;
}

/* Home ---------------------------------------------------------------------------------*/

.text{
    background-color: #9AADAB;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 50px black;
}

main{
    margin: 15px;
}

.content1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

.imges{
    width: 400px;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 40px black;
}

/* left column ------------------------------------------------------------------------------------*/
.split1{
    display: flex;
    flex-direction: column;
    background-color: #c27ba0;
    border: none;
    border-radius: 12px;
    
}

#mainHeading{
    margin-left: 65px;
    margin-right: 500px;
    font-size: larger;
    font-weight: 900;
    text-shadow: 3px 3px 4px gray;
}

#qt2{
    margin: 0 auto;
}
#qt3{
    margin-left: 100px;
    margin-right: 200px;
}
#qt5{
    margin-right: 300px;
}
#qt6{
    margin: auto;
}
#qt7{
    margin-left: 235px;
}
#qt8{
    margin: auto;
}
#qt10{
    margin-left: 100px;
    margin-right: 90px;
}


/* right column ---------------------------------------------------------------------------------*/
#pic2{
    margin-top: 20px;
    margin-left: 223px;
}

#pic3{
    margin-top: 20px;
    margin-left: 80px;
}

/* Philosophers ---------------------------------------------------------------------------------*/

#para1{
    position: absolute;
    top: 250px;
    left: 500px;
    z-index: 1;
}

#para2{
    position: absolute;
    top: 570px;
    left: 500px;
    z-index: 1;
}

#para3{
    position: absolute;
    top: 990px;
    left: 500px;
    z-index: 1;
}

#pic4{
    position: relative;
}

.row{
    margin: 15px;
    background-color: #c27ba0;
    border: none;
    border-radius: 12px;
    box-shadow: 3px 3px 20px black;
}

/* Philosophy ---------------------------------------------------------------------------------*/

.h{
    display: block;
    width: 100px;
    margin: 40px auto;
    background-color: #9AADAB;
    border: none;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 3px 3px 20px black;
}

.paragraph{
    padding: 10px;
}

footer {
    position:fixed;
    padding-top: 10px;
    padding-left: 40px;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:#939F5C;
    z-index: 3;
}

.facebook{
    position: absolute;
    width: 30px;
    left: 1460px;
}
.twitter{
    position: absolute;
    width: 30px;
    left: 1400px;
}